node_modules/

env/app.properties
*.DS_Store

# dotenv environment variables file
.env
.env.test
.tern-port

postgres-data
.DS_Store
env
*.key
*.pem
*.srl
*.crt
*.csr
*.csr.cnf
*.key
*.ext
docker/.env

